.wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    
    background-image: conic-gradient(gold 10%, white 0 20%, red 0 30%, white 0 40%, red 0 50%, white 0 60%, red 0 70%, white 0 80%, red 0 90%, white 0);
  }
  
  .arrow {
    background-color: black;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 225px;
    top: 100px;
  }
  
  .spin {
    margin-top: 20px;
  }
  
  .result {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }
  
  .rotating {
    transition: all 3s;
    transition-timing: ease-in-out;
  }