@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #f8f8ff;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.policy-page {
    padding: 50px 30px;
}